.card {
  float: left;
  margin-top: 20px;
  background-color: white;
  margin: 5px;

}

@media screen and (max-width: 768px) and (min-width: 540px){
  .card{
    width: calc(100% - 10px);
  }
}

@media screen and (max-width: 960px) and (min-width: 768px){
  .card{
    width: calc(100% / 2 - 10px);
  }
}

@media screen and (min-width: 960px){
  .card {
    width: calc(100% / 3  - 10px);
  }
}

/* For Mobile */
@media screen and (max-width: 540px) {
  #navbar {
    position: absolute;
  }
  #sidebar {
    width: 100%;
    position: absolute;
    height: 375px;
    top: 60px;
  }
  #content {
    position: relative;
    top: 435px;
    width: 100%;
    transition-delay: 0s;
  }
  .card{
    width: calc(100% - 10px);
  }
}

/* For Other than Mobile */
@media screen and (min-width: 540px) {
  #navbar {
    position: fixed;
    z-index: 2;
  }
  #sidebar {
    position: fixed;
    top: 60px;

    width: 300px;
    height: calc(100vh - 60px);

    transition-delay : 0s;
  }
  #content {
    position: relative;
    top: 60px;
    left: 300px;
    z-index: 1;

    width: calc(100% - 300px);

    transition-delay: 3s;
  }
}


  .card img {    
    width: 100%;
  }

  .card .text {
      padding:30px;
      padding-top: 0px;
      padding-bottom: 10px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 18px;
      color: black;
  }