.Content {
  
    margin-left: 300px;
    padding-left: 30px;
    padding-top: 75px;
    height: 100%;
    background-color: whitesmoke;
  }
  
    .Content .Title {
      font-size: 24px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      letter-spacing: 0.2px;
      color: #020202;
    }