Body{
  background-color: whitesmoke;
}

.Content {
  padding: 10px;
  float: initial;
  padding-top: 75px;
  height: 100%;
}
.Content.active{
  margin-left: 300px;
  width: calc(100% - 320px)
}
.Content.inactive{
  margin-left: 0px;
  width: calc(100% - 20px);
}